{{#each this}}<li class="main__film-item js-film-item">
    <div class="main__film-item-wrapper js-film-item-wrapper">
        <a class="main__film-link js-film-link">
            <img alt="{{filmTitle}}" src="https://image.tmdb.org/t/p/w500/{{imgPath}}"
                class="main__film-image js-film-image">
        </a>
    </div>

    <span class="main__library-film-list-title">{{filmTitle}}</span>
    <span class="main__library-film-list-popularity">Popularity: {{voteAverage}}</span>
</li>{{/each}}