.main {
  &__add-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 46px;
    margin-bottom: 20px;
    font-size: 0px;

    @include tablet {
      position: absolute;
      @include pseudo($display: flex);
      width: 340px;
      bottom: 30px;
      right: 20px;
      margin-bottom: 0px;
    }

    @include desktop {
      width: 380px;
      bottom: 130px;
      right: 72px;
    }
  }

  &__add-button {
    width: 126px;
    height: 100%;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #77c1bb 5%, #408c99 100%);
    background-color: #77c1bb;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    padding: 0px 10px;
    margin: 0px;

    @include tablet {
      width: 150px;
    }

    @include desktop {
      width: 170px;
    }

    &-active {
      position: relative;
      top: 1px;
    }

    &:hover {
      background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color: #408c99;
    }
  }
}
