.main {
  &__details-page {
    width: 100%;
    padding: 20px 24px 0px;

    @include tablet {
      padding: 24px 20px 30px 30px;
      position: relative;
    }

    @include desktop {
      padding: 28px 16px 28px 36px;
    }
  }

  &__details-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      align-items: start;
      margin-bottom: 0px;
    }
  }

  &__img-wrapper {
    width: 274px;
    height: 400px;
    margin-bottom: 18px;

    @include tablet {
      width: 358px;
      height: 526px;
      margin: 0px 20px 0px 0px;
    }

    @include desktop {
      width: 428px;
      height: 630px;
      margin-right: 34px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @include tablet {
      width: 358px;
      height: 526px;
    }

    @include desktop {
      width: 428px;
      height: 630px;
    }
  }

  &__description-wrapper {
    margin-bottom: 32px;

    @include tablet {
      padding-top: 18px;
    }

    @include desktop {
    }
  }

  &__description-title-wrapper{
    display: flex;
    flex-direction: row;
  }

  &__description-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(55, 44, 72);
    line-height: 1.2;
    // margin-bottom: 12px;
    margin: 0px 6px 12px 0px;

    // &--year {}
  }

  &__description-table {
    width: 100%;
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
    border: none;

    &--tr {
      width: 100%;
      background-color: #addad6;

      &:nth-child(2n) {
        background-color: #ffffff;
      }
    }

    &--td {
      max-width: 110px;
      padding: 6px 4px 6px 14px;
      border: 1px #addad6;

      @include tablet {
        max-width: 126px;
      }
    }
  }

  &__description-about {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(55, 44, 72);
    line-height: 1.2;
    margin-bottom: 12px;

    &--info {
      width: 100%;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: rgba(55, 44, 72, 0.541);
      font-weight: 400;
      line-height: 1.286;
    }
  }
}
