.footer {
  width: 100%;
  background: #77c1bb;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 86px;
  position: relative;
}

.footer__title {
  font-size: 16px;
  color: rgb(55, 44, 72);
  line-height: 1;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-right: 10px;
}

.footer__button{
    border-radius: 50%;
    background-color: rgb(119, 193, 187);
    background-image: url('../images/btn-up.png');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
    position: absolute;
    right: 16px;
    width: 50px;
    height: 50px;
    
    @include tablet {
      display: none;
    }
}
