.header {
  width: 100%;
  background: #77c1bb;
  margin-bottom: 20px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 66px;
  }

  &__logo-wrapper {
    padding-left: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    @extend %list;
    @extend %link;
  }

  &__logo {
    width: 22px;
    height: 20px;

    @include tablet {
      margin-right: 10px;
    }
  }

  &__logo-title {
    display: none;

    @include tablet {
      display: block;
      font-size: 20px;
      font-family: 'Myriad Pro';
      color: rgba(55, 44, 72, 0.871);
      line-height: 16px;
      
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  width: 256px;

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__item {
    position: relative;
    align-items: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }

  &__item:first-child {
    margin-right: 60px;
  }

  &__link {
    text-decoration: none;
    color: #4d6671;
    font-size: 14px;
    transition: all 0.2s linear;

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 3px;
      background: #372c48;
      bottom: -16px;
      left: 50%;
      transition: all 0.2s linear;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      // width: 120px;
      left: 0;
    }

    &:hover,
    &:focus {
      color: #372c48;
    }
  }
}
