.main {
  &__navigation-library {
    display: flex;
    justify-content: center;
  }

  &__navigation-library-btn {
    width: 150px;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #77c1bb 5%, #408c99 100%);
    background-color: #77c1bb;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 20px;

    &-active {
      position: relative;
      top: 1px;
    }
  }

  &__navigation-library-btn:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
  }

  &__library-film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      position: relative;
      width: 49%;
      list-style: none;
      overflow: hidden;
      margin-bottom: 10px;
      border-radius: 10px;
      cursor: pointer;
      text-shadow: 0 0 5px #ffffa0, 0 0 10px #ffff4d, 0 0 15px #ffff41,
        0 0 20px #ffff2a, 0 0 25px #ffff2b, 0 0 30px #fefe00, 0 0 35px #f7f700;
    }

    &--title {
      position: absolute;
      left: 10px;
      bottom: 8px;
      font-size: 12.3px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 1.2;
      color: rgb(255, 255, 255);
      text-align: center;

      @include tablet {
        bottom: 14px;
        font-size: 14.5px;
      }

      @include desktop {
        font-size: 20px;
      }
    }

    &--popularity {
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 12.54px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: rgb(0, 0, 0);
      line-height: 1.4;
      text-align: center;
      align-items: center;
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35),
        inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);
      width: 32px;
      height: 17px;

      @include tablet {
        bottom: 14px;
        font-size: 15.03px;
        border-radius: 8px;
        width: 38px;
        height: 20px;
      }

      @include desktop {
        right: 10px;
        top: 10px;
        font-size: 20px;
        border-radius: 10px;
        width: 49px;
        height: 27px;
      }
    }

    &-title {
      bottom: 10%;

      @include tablet {
        left: 15px;
        bottom: 15px;
      }
    }

    &-popularity {
      top: 90%;

      @include tablet {
        top: 15px;
        right: 15px;
      }
    }
  }

  .empty {
    height: 67vh;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
  }
}
